PROJECT_NAME ="docGPT"
LLM_MODEL="https://huggingface.co/bartowski/Qwen2-VL-2B-Instruct-GGUF/resolve/main/Qwen2-VL-2B-Instruct-Q6_K.gguf"
EMBEDDING_MODEL="BAAI/bge-small-en"
UPLOADS_DIR="documents"
DATABASE_NAME="docGPT"
COLLECTION_NAME="documents"
DOCUMENT_STORE_URI="http://localhost:9200"